<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJuntaService" />
                <binding name="BasicHttpBinding_IReservaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59173/JuntaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IJuntaService" contract="SOAPJuntasService.IJuntaService"
                name="BasicHttpBinding_IJuntaService" />
            <endpoint address="http://localhost:59157/ReservaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservaService"
                contract="SOAPReservaService.IReservaService" name="BasicHttpBinding_IReservaService" />
        </client>
    </system.serviceModel>
</configuration>