<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResidenteService" />
                <binding name="BasicHttpBinding_ICuotaService" />
                <binding name="BasicHttpBinding_IReservasService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53631/ResidenteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResidenteService"
                contract="SOAResidenteService.IResidenteService" name="BasicHttpBinding_IResidenteService" />
            <endpoint address="http://localhost:53631/CuotaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICuotaService" contract="SOAPagosService.ICuotaService"
                name="BasicHttpBinding_ICuotaService" />
            <endpoint address="http://localhost:53631/ReservasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservasService"
                contract="SOAReservasService.IReservasService" name="BasicHttpBinding_IReservasService" />
        </client>
    </system.serviceModel>
</configuration>