<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResidenteService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53631/ResidenteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResidenteService"
                contract="SOAResidenteService.IResidenteService" name="BasicHttpBinding_IResidenteService" />
        </client>
    </system.serviceModel>
</configuration>