<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPagosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62031/PagosService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPagosService" contract="SOAPagosService.IPagosService"
                name="BasicHttpBinding_IPagosService" />
        </client>
    </system.serviceModel>
</configuration>